* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: transparent;
    color: white;
}

body {
    background-color: #031419;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #072027;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.leftheader a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;

}
.leftheader{
    animation: slideRight 1s  ease forwards;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
.navbar ul li {
    opacity: 0;
    animation: slideTop 1s  ease forwards;
    animation-delay: calc(var(--i)*0.15s);
}
.navitem a {
    text-decoration: none;
    color: #0ef;
    margin: 0 40px;
    font-size: 25px;
    position: relative;
    top: 15px;
}

.navbar ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: #0ef;
    position: relative;
    top: 7px;
    left: 30px;
    border-radius: 50px;
    transition: 0.7s ease-in-out;
}

.navbar ul li a:hover::after {
    width: 80%;
    height: 3px;
    display: block;
    background-color: #0ef;
}

.home {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.home div {
    color: white;
}

.lefthome {
    width: 45%;
    font-size: 3rem;
    justify-content: left;
    padding: 80px;
}
.slidebottom{
    opacity: 0;
    animation: slideBottom 1s  ease forwards;
    animation-delay: 0.5s;
}
.lefthome h1{
    opacity: 0;
    animation: slideRight 1s  ease forwards;
    animation-delay: 0.95s;
}
.righthome {
    width: 55%;
    text-align: center;
}

#homeimg {
    margin: -15% 0 0 0;

}

.colorblue {
    color: #0ef;

}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border: 2px solid #0ef;
    color: #0ef;
    border-radius: 50%;
    font-size: 30px;
    margin: 30px 15px 10px 0;

}

.social a:hover {
    background-color: #0ef;
    color: #031419;
    box-shadow: 0 0 20px #0ef;
}
.socialicon{
    opacity: 0;
    animation: slideLeft 1s  ease forwards;
    animation-delay: calc(var(--i)*0.1s);
}
.resumebtn a {
    display: inline-block;
    text-decoration: none;
    color: #031419;
    background-color: #0ef;
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    margin-top: 30px;
    box-shadow: 0 0 20px #0ef;
    transition: 0.4s ease;
    opacity: 0;
    animation: slideTop 1s  ease forwards;
    animation-delay: 1.3s;
}

.resumebtn a:hover {
    box-shadow: 0 0 30px 10px #0ef;
}

.about {
    display: flex;

}

.leftabout {
    width: 45%;

}

.rightabout {
    width: 55%;
    font-size: 3rem;
    color: white;
}

.rightabout div h1 {
    display: inline-block;
}

.spacediv {
    height: 30px;
}

#aboutimg {
    margin: -15% 0 0 0;
}

#aboutdesig {
    font-size: 2.5rem;
    font-weight: 600;

}

#abouttext {
    font-size: 1.5rem;
    padding: 0 10% 0 0;

}

#servicehead {
    font-size: 4rem;
    margin: 0 0 0 -2%;
    text-align: center;
}

section {
    margin: 10% 0 10% 0;
}

header {
    margin: 0 0 10% 0;
}

.servicescontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 7%;
    height: auto;

}

.servicecard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    height: 100%;
}

.cardspace {
    height: 5%;
}

.cardbutton a {
    text-decoration: none;
    color: #031419;
    background-color: #0ef;
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 0 20px #0ef;
    transition: 0.4s ease;
}

.cardbutton a:hover {
    box-shadow: 0 0 30px 10px #0ef;
}

.servicecardborder {
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
    margin: 5%;
    border-radius: 5%;
    height: 23rem;
    display: flex;
    align-items: stretch;
    position: relative;
    transition: 1s ease;
}
.servicecardborder:hover{
    transform: translateY(-20px);
}

#projecthead {
    font-size: 4rem;
    color: white;
    margin: 0 0 0 -2%;
    text-align: center;
}

.projectscontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 7%;
    gap: 5%;


}

.projectcard img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    z-index: 0;
    transition: 0.4s ease-in-out;
}


.projectcard {
    position: relative;
    height: 18rem;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.layer {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 238, 255, 0.5));
    border-radius: 5%;
    z-index: 1;
    align-items: center;
    text-align: center;
    padding: 5%;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.projectcard:hover .layer {
    height: 100%;
    opacity: 100;
}
.projectcard:hover img {
    transform: scale(1.1);
}

.link i {
    font-size: 2rem;
    background: white;
    border-radius: 50%;
    padding: 2%;
    color: #0ef;
    transition: 0.7s ease-in-out;
}

.link i:hover {
    background: #0ef;
    color: white;

}

.contacts {
    display: flex;
    margin: 5%;
}

.leftcontact {
    width: 50%;
    margin: 1%;
}

.leftcontact h2 {
    text-align: center;
}

.leftcontact p {
    color: rgba(177, 177, 177);
    font-size: 1rem;
}

.leftcontact h3 {
    margin: 5% 0 1% 0;
}

.rightcontact {
    width: 50%;
    margin: 1%;
}

.rightcontact form {
    display: flex;
    flex-direction: column;
}

.rightcontact form input {
    background-color: rgba(177, 177, 177);
    border: none;
    margin: 5px;
    height: 3rem;
    border-radius: 5px;
    overflow: hidden;
    color: #000;

}

.rightcontact form input::placeholder {
    font-weight: 600;
    padding-left: 10px;
}

.rightcontact form textarea::placeholder {
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}

.rightcontact form button {
    background-color: #0ef;
    color: #000;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 25px 5px;
    box-shadow: 0 0 20px 5px #0ef;
    transition: 0.4s ease;
}

.rightcontact form button:hover {
    box-shadow: 0 0 30px 10px #0ef;
}

#messagebox {
    background-color: rgba(177, 177, 177);
    border-radius: 5px;
    margin: 10px 5px;
    color: #000;

}

.contacticons {
    display: flex;
}

.contacticons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    width: 40px;
    border: 2px solid #0ef;
    color: #0ef;
    border-radius: 50%;
    font-size: 23px;
    margin: 45px 15px 10px 0;
}

.contacticons a:hover {
    background-color: #0ef;
    color: #031419;
    box-shadow: 0 0 20px #0ef;
}

#communications {
    margin: 5% 0 5% 0;
    font-size: 1.1rem;
}

.contact {
    margin: 10% 0 5% 0;
}

#floatingbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0ef;
    border-radius: 10%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px #0ef;
    transition: 0.5s ease-in-out;
}

#floatingbutton:hover {
    transform: translateY(-10px);
}

#floatingbutton button {
    border: none;
    font-size: 35px;
}

.footer {
    text-align: center;
}
@keyframes slideRight {
    from{
        transform: translateX(-200px);
        opacity: 0;
        
    }

    to{
        transform: translateX(0px);
        opacity: 1;
        
    }
}
@keyframes slideTop {
    from{
        transform: translateY(200px);
        opacity: 0;
        
    }

    to{
        transform: translateY(0px);
        opacity: 1;
        
    }
    
}
@keyframes slideBottom {
    from{
        transform: translateY(-200px);
        opacity: 0;
        
    }

    to{
        transform: translateY(0px);
        opacity: 1;
        
    }
    
}
@keyframes slideLeft {
    from{
        transform: translateX(200px);
        opacity: 0;
        
    }

    to{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
}